<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="dashboard" href="/tabs/dashboard">
			<i class="fa-solid fa-house text-xl" style="color: inherit;"></i>
		</ion-tab-button>

		<ion-tab-button tab="insights" href="/tabs/insights">
			<i class="fa-solid fa-chart-pie text-xl" style="color: inherit;"></i>
		</ion-tab-button>

		<ion-tab-button tab="tracker" href="/tabs/tracker">
			<i class="fa-solid fa-chart-simple text-xl" style="color: inherit;"></i>
		</ion-tab-button>

		<ion-tab-button tab="journal" href="/tabs/journal">
			<i class="fa-solid fa-book text-xl" style="color: inherit;"></i>
		</ion-tab-button>

		<ion-tab-button tab="settings" href="/tabs/settings">
			<i class="fa-solid fa-gear text-xl" style="color: inherit;"></i>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>