<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <i class="fa-solid fa-house text-lg mb-1" style="color: inherit;"></i>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tracker" href="/tabs/tracker">
      <i class="fa-solid fa-chart-simple text-lg mb-1" style="color: inherit;"></i>
      <ion-label>Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="journal" href="/tabs/journal">
      <i class="fa-solid fa-book text-lg mb-1" style="color: inherit;"></i>
      <ion-label>Journal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <i class="fa-solid fa-gear text-lg mb-1" style="color: inherit;"></i>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
